NODE_ENV=development
GS_ENV=development

POSTGRES_HOST_NAME=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE_NAME=project
POSTGRES_SUPER_USER_ROLE_NAME=postgres
POSTGRES_SUPER_USER_SECRET=password

MQTT_HOST_NAME=localhost
MQTT_PORT=1883
MQTT_ADMIN_USERNAME=admin
MQTT_ADMIN_SECRET=password